<div class="container">
    <div class="row">
      <div class="col">
        <h1>
          New
          <small> Model</small>
        </h1>
      </div>
      <div class="col text-end">
        <button pButton label="Return to Models" icon="fa fa-hand-point-left" routerLink="/vehicles/models"></button>
      </div>
    </div>
    <p-divider></p-divider>
    <form [formGroup]="modelContent">
      <div class="p-field m-2">
        <input pInputText type="text" placeholder="Model" formControlName="modelName" />
        <ng-container *ngIf="modelContent.controls.modelName.errors != undefined">
          <div class="errorEnValidacion" *ngIf="modelContent.controls.modelName.errors.required">
            * The modelName is required
          </div>
          <div class="errorEnValidacion" *ngIf="modelContent.controls.modelName.errors.minlength">
            * Minimum length is 4 characters
          </div>
        </ng-container>
      </div>
      <div class="p-field m-2">
        <label class="m-1">Select a brand: </label>
        <select name="brands" formControlName="brand">
          <option *ngFor="let b of brands" [value]="b.brandName">{{ b.cod }} - {{ b.brandName }}</option>
        </select>
      </div>
      <div class="p-field m-2">
        <label class="m-1">Select a category: </label>
        <select name="categories" formControlName="category">
          <option *ngFor="let c of categories" [value]="c.categoryName">{{ c.cod }} - {{ c.categoryName }}</option>
        </select>
      </div>
      <p-divider></p-divider>
      <div class="form-group m-1">
        <button pButton label="Create" icon="fa fa-save"  [disabled]="modelContent.invalid" (click)="postModel()"></button>
      </div>
    </form>
  </div>