<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="/home">Home</a>
        <ul class="navbar-nav mr-auto">
            <li *ngIf="logged && admin" class="nav-item">
                <a class="nav-link" routerLink="/users">Users</a>
            </li>
            <li *ngIf="logged && admin" class="nav-item">
                <a class="nav-link" routerLink="/promos">Promotions</a>
            </li>
            <li *ngIf="logged && customer" class="nav-item">
                <a class="nav-link" [routerLink]="['/rating', cus]">Rating</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Vehicles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngIf="!seller" class="dropdown-item" href="/catalog">Vehicles catalog</a>
                    <a *ngIf="seller" class="dropdown-item" href="/purchase">Purchase catalog</a>
                    <div *ngIf="logged && mechanic" class="dropdown-divider"></div>
                    <a *ngIf="logged && mechanic" class="dropdown-item" routerLink="/vehicles">Manage vehicles</a>
                    <a *ngIf="logged && mechanic" class="dropdown-item" routerLink="/vehicles/models">Manage models</a>
                    <a *ngIf="logged && mechanic" class="dropdown-item" routerLink="/vehicles/brands">Manage brands</a>
                    <a *ngIf="logged && mechanic" class="dropdown-item" routerLink="/vehicles/categories">Manage categories</a>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <button class="btn btn-outline-success" type="button" id="userDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-menu float-right">
            <a *ngIf="logged" class="dropdown-item" (click)="logout()">Logout</a>
            <a *ngIf="!logged" class="dropdown-item" type="button" routerLink="login">Login</a>
        </div>
    </div>
</nav>