.errorEnValidacion {
    margin-top: 5px;
    color: red;
}

.loginCard {
    max-width: 400px;
}

mat-form-field {
    width: 100%;
}

.main-div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}