<div class="bg-light">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 text-center text-md-left">
                <div class="py-0">
                    <h3 class="my-4"><span class="mx-2 font-italic text-success">Yi's Concesionarie</span></h3>
                    <p class="footer-links font-weight-bold">
                        <a class="text-warning" href="**">Welcome</a> |
                        <a class="text-warning" href="**">About us</a>
                    </p>
                    <p class="py-4 mb-4">&copy; 2021-2022 Yi Concesionarie Spain</p>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-left ">
                <div class="py-2 my-4">
                    <span class="font-weight-bold text-warning">Contact Way</span>
                    <div>
                        <p>
                            <i class="fa fa-map-marker fa-lg mx-2"></i>
                            Street street street, nº 00 City - 00000
                        </p>
                    </div>
                    <div>
                        <p>
                            <i class="fa fa-phone fa-lg mx-2"></i>
                            Tel. 000 00 00 00
                        </p>
                    </div>
                    <div>
                        <p>
                            <i class="fa fa-envelope fa-lg mx-2"></i>
                            <a href="**">concesyonaryeSpain@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 text-center text-md-left ">
                <span class="font-weight-bold text-warning">RRSS</span>
                <div class="py-2">
                    <a href="facebook.com"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
                    <a href="#"><i class="fab fa-instagram-square fa-2x text-success mx-3"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>